.pokemon-busca-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #43E97B 0%, #38F9D7 100%);
  width: 100vw;
  height: 100vh;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0px;
  }
}

.infoPokemon{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #F7F9FC;
  border-radius: 24px 24px 0px 0px;
  width: 100%;
  margin-top: calc(-24.7rem / 2);
  padding: 16.2rem 2.4rem;

  h1 {
    text-transform: uppercase;
    margin-bottom: 3.6rem;
  }

  &.infoPokemon--capture, &.infoPokemon--liberar{
    height: 100%;
  }

  > button {
    position: fixed;
    bottom: 5rem;
  }

  > .tipos {
    margin-top: 3rem;

    > .typSubtitle{
      text-transform: uppercase;
    }
  }

  > .habilidades {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4.2rem;

    > .typSubtitle{
      text-transform: uppercase;
    }
  }
}
.dadosBasicos{
  display: flex;
  width: 100%;


  > .dadosBasicos__dadosIniciais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1
  }

  > .dadosBasicos__dadosIniciais + .dadosBasicos__dadosIniciais {
    border-left: 1px solid $color-neutral-500;
  }
}

@media (min-width: 720px){
  .pokemon-busca-container {
    width: 360px;
    height: 559px;
  }
  .infoPokemon{
    height: auto;
  }

}
